QWidget {
    background: #004040;
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
}

QLabel {
    color: whitesmoke;
}
#name_label{
    font-size: 40px;
}
QPushButton{
    background: #005060;
    color: whitesmoke;
}

QPushButton:hover{
    background: #0070A0;
    color: whitesmoke;
}

QPushButton:pressed{
    background: #20C0c0;
    color: black;
}