QWidget {
    background: #004040;
    border: 1px solid black;
    font-family:'Courier New', Courier, monospace;
    font-size: 24px;
    color: whitesmoke;
}

QLabel {
    color: whitesmoke;
    border: none;
}

#name_label{
    font-size: 40px;
    border: 3px black;
}

#forecast{
    border-bottom: 2px solid #20C0c0;
}

QPushButton{
    background: #005060;
    color: whitesmoke;
    padding: 0 10px;
}

QPushButton:hover{
    background: #0070A0;
    color: whitesmoke;
}

QPushButton:pressed{
    background: #20C0c0;
    color: black;
}

QRadioButton{
    border: none;
    color: whitesmoke;
    padding: 0px;
    margin: 0px;
}

#message QLabel{
    font-size: 28px;
}